.avatar-profile {
  margin-top: 12px;
  margin-bottom: 4px;
}

.col-pad {
  padding-bottom: 70px;
}

.review {
  padding-bottom: 12px;
}

.review-title {
  padding-top: 12px;
  padding-bottom: 6px;
}
